<app-menu></app-menu>

<div class='content'>
    <h1>A few words from the Developer..</h1>
    <p>Celebrations are always a time to get together, to meet with family
        and friends both old and new. Do not let distance seperate you from 
        your loved ones. This season, wish them with our range of ecards. 
        Send them your love.
    </p>

    <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile item-width="300">
            <img width='300' height='300' src='https://image.shutterstock.com/image-vector/happy-family-two-children-puppy-260nw-216043504.jpg'>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class='about-text'>
                    <p>The ecard app was build keeping just one thought in mind.
                            To be able to wish your family and friends from where you are and let them know you care.
                        </p>
                        <p>
                            So, wait no more, call your family, wish them this season and tell them that you have sent a small surprise on their mail!
                        </p>
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
</div>

