<app-menu></app-menu>
<h2 class="text-center">E Card App</h2>
<div class="home">
    <mat-grid-list cols="2" rowHeight="2.5:1.5">
        <mat-grid-tile>
            <img src="https://img.pngio.com/animated-celebration-clipart-png-images-celebration-png-animated-379_400.png" />
        </mat-grid-tile>
        <mat-grid-tile>

            <h3>This festive year, let not this lockdown stop you from celebrating with your loved ones. Send them your love
                this season, and let them know you care!
            </h3>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<br />
<div class="text-center">
    <button mat-flat-button color="primary" (click)="navigateTo('cards')">Get Started</button>
</div>
<app-sample-cards></app-sample-cards>
<app-contact></app-contact>