<mat-toolbar color="primary">
        <mat-toolbar-row>
          <span class="logo">E-Card App</span>
          <span class="spacer"></span>
          <span class="menu-item"><button mat-flat-button color="primary" (click)="navigateTo('')">Home</button></span>
          <span class="menu-item"><button mat-flat-button color="primary" (click)="navigateTo('cards')">Cards</button></span>
          <span class="menu-item"><button mat-flat-button color="primary" (click)="navigateTo('about')">About</button></span>
          <span class="menu-item"><button mat-flat-button color="primary"><a href="#contact">Contact</a></button></span>
        </mat-toolbar-row>
      </mat-toolbar>